{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <h1>FullStack web developer PHP</h1>
            <p class="lead">
                ANIMUS is a young start-up from Ratingen (close to Düsseldorf), that contributes to digitizing the real estate industry. We give our users and the property management their most valuable asset back: time. ANIMUS stands for service, communication and information in living quarters and commercial property – just like a personal concierge. The intuitive usage of the web application makes the experience even more exiting –more innovative –more unique.
            </p>
        </div>
    </div>
{% endblock body %}